<!doctype html>
<html>
  <head>
    <title>Go Playground</title>
    <link rel="stylesheet" href="/static/playground-full.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/static/playground-full.js"></script>

    <link rel="shortcut icon" href="/static/favicon.ico" sizes="16x16 32x32" type="image/vnd.microsoft.icon">

    <script>
    $(document).ready(function() {
      playground({
        'theme':        'material',
        'codeEl':       '#code',
        'outputEl':     '#output',
        'runEl':        '#run',
        'fmtEl':        '#fmt',
        'fmtImportEl':  '#imports',
        {{if $.Share}}
        'shareEl':      '#share',
        'shareURLEl':   '#shareURL',
        {{end}}
        'enableHistory': true
      });
      playgroundEmbed({
        'theme':        'material',
        'codeEl':       '#code',
        {{if $.Share}}
        'shareEl':      '#share',
        {{end}}
        'embedEl':      '#embed',
        'embedLabelEl': '#embedLabel',
        'embedHTMLEl':  '#shareURL'
      });
      // Avoid line wrapping.
      var about = $('#about');
      about.click(function(e) {
        if ($(e.target).is('a')) {
          return;
        }
        about.hide();
      });
      $('#aboutButton').click(function() {
        if (about.is(':visible')) {
          about.hide();
          return;
        }
        about.show();
      })
      // Fire Google Analytics events for Run/Share button clicks.
      if (window.trackEvent) {
        $('#run').click(function() {
          window.trackEvent('playground', 'click', 'run-button');
        });
        $('#share').click(function() {
          window.trackEvent('playground', 'click', 'share-button');
        });
      }
    });
    </script>
  </head>
  <body itemscope itemtype="http://schema.org/CreativeWork">
    <div id="banner">
      <div id="head" itemprop="name">Go Playground</div>
      <div id="controls">
        <input type="button" value="Run" id="run">
        <input type="button" value="Format" id="fmt">
        {{if $.Share}}
        <input type="button" value="Share" id="share">
        <input type="text" id="shareURL">
        <label id="embedLabel">
          <input type="checkbox" id="embed">
          embed
        </label>
        {{end}}
      </div>
      <div id="aboutControls">
        <input type="button" value="About" id="aboutButton">
      </div>
    </div>
    <div id="wrap">
      <textarea itemprop="description" id="code" name="code" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false">{{printf "%s" .Snippet.Body}}</textarea>
    </div>
    <div id="output"></div>
    <img itemprop="image" src="/static/gopher.png" style="display:none">
    <div id="about">
      <p><b>About this Playground</b></p>
      <p>
        This is a fork of the <a href="https://play.golang.org/">Go
        Playground</a> that communicates with an external compilation service
        that receives a Go program, compiles, links and runs the program inside
        a controlled machine, then returns the output.
      </p>
      <p>
        There are limitations to the programs than can be run in this
        playground, but that really depends on the external compilation
        service. Chances are you're not going to be allowed to write to the
        filesystem or to use the network.
      </p>
      <p>
        You can run an install your own playground that runs under your own
        restrictions, check out the Github's <a
        href="https://github.com/xiam/go-playground">xiam/go-playground</a>
        repository.
      </p>
    </div>

  </body>
</html>
